<div class="absolute top-0 right-0 m-4">
    <a href="/doctor/logout">
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Logout</button>
    </a>
</div>

<body class="flex flex-col items-center justify-center bg-gradient-to-r mt-20">

    <div class="bg-white p-8 rounded shadow-lg text-center">
        <h2 class="text-3xl font-bold mb-4" style="text-transform: uppercase;">{{name}}</h2>

        <div class="mb-4">
            <img src="{{image}}" alt="{{name}} Image" class="mx-auto mb-2 rounded-md" width="100px">
            <p class="text-sm text-gray-600">Age: {{age}} | Sex: {{sex}}</p>
            <p class="text-sm text-gray-600">Height: {{height}} cm | Weight: {{weight}} kg</p>
        </div>

        <div class="text-center p-8">
            {{#each ecg}}
            <a href="{{this}}" target="_blank">
                <img src="{{this}}" alt="{{this}} ECG Screenshot" class="mb-2 rounded-md" width="200px">
            </a>
            {{/each}}
        </div>

        <a href="comment/{{username}}">
            <button class="bg-white bg-gray-400 hover:bg-gray-600 text-gray-800 font-bold py-2 px-4 rounded">
                Chat with Patient
            </button>
        </a>
        <br>
        <br>
        <a href="/doctor" class="text-blue-500 hover:underline">Back to All Patients</a>

    </div>
</body>